<div class="container">
    <span>
        hello world 初めてのrubyのアプリ！
    </span>
    <a class="btn btn-danger" href="http://qiita.com/yoshizaki_kkgk/items/27a0be0830135a9db91c">bootstrapの導入</a>
    <button class="btn btn-success">
        青い角丸のボタンでOK
    </button>
    <a class="btn btn-info" href="/users">ユーザー画面</a>
</div>